.file {
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.folder {
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  margin-top: 3px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 3px;
}

.folder > span {
  padding-left: 5px;
}

.input-box {
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
}
.input-container {
  margin-top: 5px;
}
